<html>
    <head>
        <link href="{{ url_for('static', filename='styles/YoutubeStyles/youtube_homepage.css') }}" rel="stylesheet" type="text/css" >
        {% if title %}
        <title>{{ title }} - TrendVis</title>
        {% else %}
        <title>TrendVis</title>
        {% endif %}
    </head>
    <body>
        <div>
            <ul>
                <li class = 'active'><a href="/youtube-home">Home</a></li>
                <li><a href="/youtube-map">Map</a></li>
                <li><a href="/youtube-data">Data</a></li>
                <li><a href='/youtube-kwplot'>Keyword Plot</a></li>
                <li class = 'right-justify'><a href='/'>Google Search Trends</a></li>
            </ul>
        </div>
        <hr>
        <h1> Welcome to TrendVis </h1>
    </body>
</html>
