<html>
    <head>
        <link href="{{ url_for('static', filename='styles/NormalStyles/homepage.css') }}" rel="stylesheet" type="text/css" >
        {% if title %}
        <title>{{ title }} - TrendVis</title>
        {% else %}
        <title>TrendVis</title>
        {% endif %}
    </head>
    <body>
        <div>
            <ul>
                <li class = 'active'><a href="/">Home</a></li>
                <li><a href="/map">Map</a></li>
                <li><a href="/data">Data</a></li>
                <li><a href='/kwplot'>Keyword Plot</a></li>
                <li class = 'right-justify'><a href='/youtube-home'>YouTube Trends</a></li>
            </ul>
        </div>
        <hr>
        <h1> Welcome to TrendVis </h1>
    </body>
</html>
