<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mapresult.css') }}">
        {% if title %}
        <title>{{ title }} - TrendVis</title>
        {% else %}
        <title>TrendVis</title>
        {% endif %}
    </head>
    <body>
        <div>TrendVis:
            <a href='/'>Home</a>
            <a href='/map'>Map</a>
        </div>
        <hr>
        <h1>Map Results</h1>
        <body>
            <p><img src= {{image}} alt='Girl in a jacket',
                 height = '600', width = '600'> </p>
        </body>
    </body>
</html>
        